.footer-theme2 p {
    color: #000000;
}

footer.footer-5 {
    background-image: linear-gradient(to right, #29786e, #419aab);
}

footer {
    position: relative;
}

.footer-theme2.section-light .footer-block .subscribe-white {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 85px 65px;
    border-left: 20px solid #f1f5f4;
    border-right: 20px solid #f1f5f4;
    background-color: #1ad5ff;
}

.sub-footer.black-subfooter {
    background-color: #d1d1d1;
}

.sub-footer.black-subfooter p {
    color: #0a4550;
}