<app-header-two [sticky]="true" *ngIf="url != '/pages/comingsoon'"></app-header-two>
<!-- section start -->
<body class="sobhi">
    <div class="container" id="container">
        <form class="sign-in">
                <h2>Forget Password</h2>
                <br>
                <input type="email" placeholder="Enter Your Email">
               
                <button id="send" [routerLink]="['/pages/forget-password-confirm-email']">Send</button>
                
                <span class="or"> OR </span>
                <button id="Login" [routerLink]="['/pages/register']">Create New Account</button>
                <button id="Register" [routerLink]="['/pages/register-manager']">Create New Manager Account </button>
        </form>
        
        <div class="image-container">
            <img src="../../../../assets/images/Proj images/forgetpassword.jpg" alt="">
        </div>  
    
      
    </div>
    
    
      <!-- <div class="toggle-container">
          <div class="toggle">
            <div class="toggle-panel toggle-left">
             <img src="../../../../assets/images/Proj images/forgetpassword.jpg" alt="">
    
            </div>
          </div>
          
        </div> -->



    <!-- <div class="container" id="container">
        <div class="form-container sign-up">
    
            <form>
                <h2>Create Account</h2>
                <br>
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                
                <br>
                <span>or use your email for registration</span>
                <div class="social-icons">
                    <a href="#" class="icon">
                        <i _ngcontent-serverapp-c2626171195="" aria-hidden="true" class="fa fa-google-plus"></i>
                    </a>
                    <a href="#" class="icon">
                        <i _ngcontent-serverapp-c2626171195="" aria-hidden="true" class="fa fa-facebook"></i>
                    </a>
                </div>
                
            </form>
        </div>
    
        <div class="form-container sign-in">
    
            <form>
                <h2>Forget Password</h2>
                <br>
                <input type="email" placeholder="Enter Your Email">
               
                <button id="Register" [routerLink]="['/pages/forget-password-confirm-email']">NEXT</button>
                
                <span class="or"> OR </span>
                <button id="Login" [routerLink]="['/pages/register']">Create New Account</button>
                <button id="Register" [routerLink]="['/pages/register-manager']">Create New Manager Account </button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Forget Your password!</h1>
                    <p>Don't worry follow the steps and we'll return it back to You </p>
                </div> 
                 
            </div>
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="Register">Sign Up</button>
                </div> 
            </div>
        </div>
    
    </div>  -->
</body>

<!--Section ends-->
<app-footer-one></app-footer-one>
<router-outlet></router-outlet>
