<app-header-two [sticky]="true"></app-header-two>
<!-- section start -->
<body class="sobhi">
  <div class="container" id="container">

    <div class="form-container sign-in">
      
      
      <form>
        <h2>Check Your Sight in few minutes</h2>
       
        <button id="Login" [routerLink]="['/pages/vision-test-start-two']">Get Started</button>
        
      </form>
    </div>



    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
         <img src="../../../../assets/images/Proj images/GettyImages-909908428-1-1.jpg" alt="">

        </div>
      </div>
      
    </div>
  </div>
</body>

<!--Section ends-->
<app-footer-one></app-footer-one>
<router-outlet></router-outlet>
