<div class="gender-filter">
  <h4 class="title" (click)="collapse = !collapse">Filter by Gender</h4>
  <ul [class.collapse]="collapse">
    <li *ngFor="let gender of genders">
      <input 
        type="checkbox" 
        [value]="gender.id"
        [checked]="checked(gender.id)"
        id="{{ gender.id }}"
        class="custom-control-input"
        (change)="appliedGenderFilter($event)" />
      <label class="custom-control-label" for="{{ gender.id }}">{{ gender.genderName }}</label>
    </li>
  </ul>
</div>
