.home-slider .home, .center-slider .home {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 75vh;
}
.container .first-img img {
    width: 397px;
    height: 482px;
    position: absolute;
    left: 3%;
    top: 47%;
    overflow: hidden;
    border: 2px;
    text-align: center;
    background-color: #f8fffd;
    border-radius: 40px;
    height: inherit;
 }
//  .first-img img {
//     height: inherit;
//  }
 
.container .second-img img {
  
    left: 35%;
    bottom: 38.5%;
    width: 410px;
    height: 495px;
    position: absolute;
    overflow: hidden;
    border: 2px;
    text-align: center;
    background-color: #f8fffd;
    border-radius: 40px;
 }

//  .second-img img {
    
//  }
.container .third-img  img{
  
    left: 77%;
    top: 21px;
    width: 397px;
    height: 482px;
    position: relative;
    overflow: hidden;
    border: 2px;
    text-align: center;
    background-color: #f8fffd;
    border-radius: 40px;
    height: inherit;
 }

//  .third-img img {
  
//  }

.container {
    max-width: 1045px;
}
.Top-banner{
    max-width: 100%;
    
}
.Top-banner img{
    width: 100%;
}
.collection-banner {
    position: relative;
    overflow: hidden;
}
.collection-banner:hover img {
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.collection-banner {
    position: relative;
    overflow: hidden;
    background-color: rgb(8 90 87);
    height: 380%;
    width: 100%;
}
.collection-banner .contain-banner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 92%;
    display: flex;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    left: 16px;
}
.collection-banner img {
    transition: all 0.5s ease;
    width: 335%;
    background-position: right;
    right: 135%;
    position: relative;
    bottom: 51%;
}

.home-slider .home {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
  }
  .first{
    background-color: aqua;
  }
  .circle-background {
    position: relative;
    width: 160px;
    height: 100px;
    border-radius: 50%;
    background-color: #3dd9d5;
    left: 10%;
    top: 32%;
}
.img-fluid {
    max-width: 400%;
}
.pb-0 {
    padding-bottom: 310px !important;
}




.blue-circle-container {
    position: relative;
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
  }
  
  .blue-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px; /* Adjust the size of the circle */
    height: 80px; /* Adjust the size of the circle */
    border-radius: 50%;
    background-color: blue; /* Set the background color to blue */
    opacity: 0.5; /* Adjust opacity as needed */
  }

  .title1 h4, .title1 .h4 {
    color: #57d0ff;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-top: -3px;
    font-size: 170%;
}
.title1 .title-inner1:after {
    position: absolute;
    height: 5px;
    width: 70px;
    background-color: #4eefff;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
}
.collection-banner h4 {
    color: #0883d1;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    margin-top: -3px;
}

.full-banner {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 190px;
    padding-bottom: 280px;
    background-position: center;
}



.col-md-6 .contain-banner .colecname {
    color: white;
    font-size: 55px;
    letter-spacing: 0.01em;
}

