<app-header-one [sticky]="true" ></app-header-one>
<!-- section start -->
<body class="sobhi">
  <div class="image-container">
    <img src="../../../../assets/images/Proj images/c5037459c844ca3d4f4928a8a48048bb.jpg" alt="">
  </div>
   <p>Place Your phone arm's length at </p>
   <p>a distance of no less than 50 cm</p>

   <button id="Login" [routerLink]="['/pages/vision-test-start-three']">Next</button>

</body>

<!--Section ends-->
<app-footer-one></app-footer-one>
<router-outlet></router-outlet>
