.absolute-logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  

.brand-logo {
    position: relative;
    display: inline-block; 
}

.brand-logo img {
    width: 150px; 
    height: auto; 
}