.topimg{
    position: relative;
    left: 12%;
}

.collection-filter-block {
    margin-bottom: 30px;
    padding: 0 30px;
    border: 3px solid #21c2c2;
    border-radius: 16px;
    background-color: #ffffff;
}