<!-- section start -->
<section class="section-b-space">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="collection-filter" [class.openFilterbar]="mobileSidebar">
                        <!-- side-bar colleps block stat -->
                        <div class="collection-filter-block">
                            <div class="collection-mobile-back" (click)="toggleMobileSidebar()">
                                <span class="filter-back">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i> back
                                </span>
                            </div>
                            <!-- Category filter start -->
                            <app-categories (categoriesFilter)="updateFilter($event)"></app-categories>
                        </div>
                        <!-- silde-bar colleps block end here -->
                        <!-- side-bar colleps block stat -->
                        <div class="collection-filter-block">
                            <!-- brand filter start -->
                            <app-brands [products]="products" (brandsFilter)="updateFilter($event)">
                            </app-brands>
                            <!-- color filter start here -->
                            <app-colors [products]="products" (colorsFilter)="updateFilter($event)">
                            </app-colors>
                            <!-- size filter start here -->
                            <app-size [products]="products" (sizeFilter)="updateFilter($event)">
                            </app-size>
                            <!-- price filter start here -->
                            <app-price [min]="minPrice" [max]="maxPrice" (priceFilter)="updateFilter($event)">
                            </app-price>

                            <app-shape [products]="products" (shapeFilter)="updateFilter($event)">
                            </app-shape>

                            <app-gender [products]="products" (genderFilter)="updateFilter($event)">
                            </app-gender>
                            
                            <app-frame-type [products]="products" (frameTypeFilter)="updateFilter($event)">
                            </app-frame-type>
                            <!-- frame type filter start here -->
                            <!-- <app-frame-type [products]="products" [frameTypes]="frameTypes" (frameTypeFilter)="updateFilter($event)">
                            </app-frame-type> -->
                        </div>
                        <!-- silde-bar colleps block end here -->
                        <!-- side-bar single product slider start -->
                        <app-product-box-vertical-slider [title]="'New Products'">
                        </app-product-box-vertical-slider>
                        <!-- side-bar single product slider end -->
                        <!-- side-bar banner start here -->
                        <div class="collection-sidebar-banner">
                            <a [routerLink]="['/shop/collection/left/sidebar']">
                                <img src="assets/images/collection-sidebar-banner.png" class="img-fluid" alt="banner">
                            </a>
                        </div>
                        <!-- side-bar banner end here -->
                    </div>
                </div>
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="top-banner-wrapper">
                                    <a class="topimg" [routerLink]="['/shop/collection/left/sidebar']">
                                        <img src="../../../../assets/images/Project Logo/WhatsApp_Image_2024-02-03_at_21.54.23-removebg-preview.png" class="img-fluid " alt="">
                                    </a>
                                    <div class="top-banner-content small-section">
                                        <h4>See Products</h4>
                                        <h5>on SEE website Buying Glasses online is Easy.
                                        </h5>
                                        <p>
                                            SEE is a Website and Mobile app that will help You to Buy Glasses and lenses and accessories that you want online and much more                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="filter-main-btn" (click)="toggleMobileSidebar()">
                                            <span class="filter-btn btn btn-theme">
                                                <i class="fa fa-filter" aria-hidden="true"></i> Filter
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <ul class="product-filter-tags">
                                    <li class="me-1" *ngFor="let tag of tags">
                                        <a href="javascript:void(0)" class="filter_tag">
                                            {{tag}} <i class="ti-close" (click)="removeTag(tag)"></i>
                                        </a>
                                    </li>
                                    <li class="clear_filter" *ngIf="tags.length > 0">
                                        <a href="javascript:void(0)" class="clear_filter" (click)="removeAllTags()">
                                            Clear all
                                        </a>
                                    </li>
                                </ul>
                                <div class="collection-product-wrapper" id="products">
                                    <app-grid [products]="products" [paginate]="paginate" [layoutView]="layoutView" [sortBy]="sortBy" (setGrid)="updateGridLayout($event)" (setLayout)="updateLayoutView($event)" (sortedBy)="sortByFilter($event)">
                                    </app-grid>
                                    <div class="product-wrapper-grid" [ngClass]="layoutView">
                                        <div class="row">
                                            <div class="col-grid-box" [ngClass]="grid" *ngFor="let product of products">
                                                <div class="product-box">
                                                    <!-- <app-product-box-one [product]="product" [currency]="productService?.Currency" [thumbnail]="false" [cartModal]="true" [loader]="true">
                                                    </app-product-box-one> -->
                                                    <section class="section-b-space">
                                                        <div class="container">
                                                            
                                                            <div class="row">
                                                                <div class="col-md-4" *ngFor="let product of products" style="margin: 10px">
                                                                    <div class="theme-card center-align">
                                                                        <div class="product-box">
                                                                            <div class="product-img" [routerLink]="['/home/producdetails/', product.id]">
                                                                                
                                                                                <img class="img-fluid" [src]="getDefaultImage(product)" alt="Glass Image">
                                                                            </div>
                                                                           
                                                                            <!--
                                                                                 [src]="accessory.pictureUrl
                                                                                 [src]="getDefaultImage(glass)
                                                                             -->
                                                                            <div class="product-caption">
                                                                                <h4 class="proname">{{ product.productName }}</h4>
                                                                                <p class="prodesc">{{ product.description }}</p>
                                                                                <div class="price">
                                                                                    {{ product.price | currency: 'USD' }}
                                                                                </div>
                                                                                <!-- Add other properties as needed
                                                                                <a href="javascript:void(0)" title="Add to Wishlist" (click)="addToWishlist(glass)">
                                                                                    <i class="ti-heart" aria-hidden="true"></i>
                                                                                </a>
                                                                                <a href="javascript:void(0)" title="Add to cart" (click)="addToCart(glass)"
                                                                                *ngIf="!cartModal">
                                                                                <i class="ti-shopping-cart"></i>
                                                                              </a>
                                                                              <a href="javascript:void(0)" title="Compare" (click)="addToCompare(glass)">
                                                                                <i class="ti-reload" aria-hidden="true"></i>
                                                                              </a> -->
                                                                              <!-- <a href="javascript:void(0)" title="Quick View" (click)="QuickView.openModal()">
                                                                                <i class="ti-search" aria-hidden="true"></i>
                                                                              </a> -->
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 text-center section-b-space mt-5 no-found" *ngIf="!products.length">
                                                <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
                                                <h3>Sorry! Couldn't find the product you were looking For!!! </h3>
                                                <p>Please check if you have misspelt something or try searching with other words.</p>
                                                <a [routerLink]="['/shop/collection/left/sidebar']" class="btn btn-solid">continue shopping</a>
                                            </div>
                                        </div>
                                    </div>
                                    <app-pagination [products]="products" [paginate]="paginate" (setPage)="setPage($event)">
                                    </app-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section End -->