@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow: visible;
}
.sobhi{
  background-color: #cdfbff;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  
}

.container{
  background-color: #cdfbff;
  box-shadow: 0 5px 15px rgb(71 186 176);
  position: relative;
  width: 50%;
  max-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 27.5%;
}
.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 2px;
    color: #000;
    position: relative;
    left: 0%;
    text-align: start;
}
/* .container span{
    font-size: 12px;
} */
.container a{
    position: relative;

    text-decoration: none;
    margin: 27px 0 15px;
    font-size: x-large;
    text-align: start;
    height: 115px;
    padding-top: 24px;
    left: 5%;
}

.prodcont{
  position: relative;
    bottom: 53%;
    left: 10%;
    margin: 0px;
    width: 40%;
}

.container button{
    background-color:#176B87;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 15px;
    position: relative;
    left: -20%;
    height: 52px;
}
 button{
    padding: 13px 29px;
    color: #ffffff !important;
    letter-spacing: 0.05em;
    border: 2px solid #4aa7b9 !important;
    background-image: linear-gradient(30deg, #4aa7b9 50%, transparent 50%) !important;
    background-size: 850px;
    border-radius: 10px;
    position: relative;
    left: 70px;
    bottom: 30px;}


.container input{
    background-color: #eee;
    border: #2486b7;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    border-style: ridge;
}

.exit-button{    
    position: relative;
    left: 55%;
    top: 1px;
    font-size: 18px;
    font-weight: bold;
}

.progress-bar {
    position: absolute;
    top: 17px;
    left: 20%;
    height: 7px;
    background-color: #ddd;
    border: 2px solid #958e8e;
    border-radius: 10px;
    transition: width 0.5s ease;
    width: 60%;
 }
  
  .progress-item {
    display: inline-block; /* Makes them behave like block elements for spacing */
    padding: 10px 20px; /* Adjust padding as needed */
    margin: 5px; /* Add spacing between links */
    border: 1px solid #ddd; /* Optional border */
    text-decoration: none; /* Remove default underline */
    color: #000; /* Link text color */
  }
  
  /* Styles for active progress bar item (triggered on click) */
  .progress-item.active + .progress-bar {
    width: 33.33%; /* Fills one-third of the container */
    background-color: blue; /* Blue color for active segment */
  }

.select-container{
    left: 0%;
    width: 51%;
    position: relative;
    margin-right: 20px; /* Adjust margin between containers */

}

h3{
    font-weight: bold;
    color: #000000;
    position: relative;
    right: 0%;
    margin: 37px 0px 10px 9px;
}

h4{
    box-sizing: border-box;
    text-align: left;
    padding-left: 20px;
    word-wrap: break-word;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .5px;
    color: #222;

}
.container .underline{
    text-decoration: underline;
    font-size: medium;
    font-weight: bold;
    position: relative;
    top: 8px;
    margin: 10px;
}

.container #buton{
  position: relative;
  color: #333;
  font-size: 10px;
  text-decoration: none;
  margin: 27px 0 15px;
  font-size: large;
  text-align: start;
  height: 64px;
  padding-top: 24px;
  left: 39%;
  top: 24%;


}
table {
    position: relative;
    left: 22%;
    top: 25px;
    width: 150%;
    border-collapse: collapse;
  }
  

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .droplist{
    position: relative;
    width: 60%;
    border: none;
  }
  .button-group {
    display: flex;
  }
  
  .button-group input[type="radio"] {
    display: none;
  }
  
  .button-group label {
    display: block;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }
  
  .button-group label:hover {
    background-color: #e0e0e0;
  }
  
  .button-group input[type="radio"]:checked + label {
    background-color: #ccc;
  }

  .split-dropdown {
    display: flex;
    justify-content: space-between;
  }
  
  optgroup {
    flex: 1;
  }



img, svg {
    vertical-align: middle;
    position: relative;
    bottom: 80px;
    vertical-align: middle;
    position: relative;
    bottom: 80px;
    width: 100%;
    top: 0px;
    height: 100%;
   

}

li a {
    display: block;
    border: 3px solid #0000005c;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 20px;
    transition: border-color 0.3s; /* Add transition for smooth effect */
}

li a:hover {
    border-color: #5383cb; /* Change border color on hover */
}

li{
    width: 180%;
    position: relative;
    bottom: 40px;
}

.select-container .link{
    text-decoration: underline;
    position: relative;
    top: 179px;
    border: none;
    color: #5c5ca7;
    font-size: 16px;
    left: -25%;
    font-weight: bold;
}
 span{
    color: black;
    position: relative;
    left: 69%;
    top: 92px;
    font-size: 17px;
    font-weight: bold;
}

.collection-filter-block {
    margin-bottom: 30px;
    padding: 0 30px;
    border: 2px solid #4aa7b9;
    background-color: #ffffff;
}
.product-right .h4 span {
    padding-left: 5px;
    color: #00b6e4db;
}
.discolor{
 color: #21f1f1e0;
 padding-left: 7px;
 font-size: 20px;
}



.select-container::after{
    content: ' ';
    position: absolute;
    top: 77%;
    left: 12%;
    width: 177%;
    height: 3px;
    margin-top: 102px;
    background-color: #e5ebfe;
    padding-top: 3px;
}











/* Styles for the left side of the container */
.col-12.col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.product{
    position: relative;
    left: 0%;
    bottom: 52%;

}


.absolute-logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  
  }
  
  
  .brand-logo {
    position: relative;
    display: inline-block;
    BOTTOM: 67%;
    LEFT: 3%;
    width: 302px;

  }
  
  .brand-logo img {
    width: 130px; 
    height: auto; 
}

.collection-filter-block {
    margin-bottom: 30px;
    padding: 0 30px;
    border: 2px solid #4aa7b9;
    background-color: #ffffff;
}
.product-right .h4 span {
    padding-left: 5px;
    color: #00b6e4db;
}
.discolor{
 color: #21f1f1e0;
 padding-left: 7px;
 font-size: 20px;
}

.row{
      right: 20%;
    bottom: 60%;
    position: relative;
    max-width: 792px;
    margin-right: 20px;
}
