<div
  class="collection-collapse-block"
  [class.open]="collapse"
  *ngIf="brands.length"
>
  <h3 class="collapse-block-title" (click)="collapse = !collapse">brand</h3>
  <div class="collection-collapse-block-content">
    <div class="collection-brand-filter">
      <div
        class="custom-control custom-checkbox collection-filter-checkbox"
        *ngFor="let brand of brands; let i = index"
      >
        <input
          type="checkbox"
          [value]="brand.id"
          [checked]="checked(brand.id)"
          [id]="brand.id"
          (change)="appliedFilter($event)"
          class="custom-control-input"
        />
        <label class="custom-control-label" for="{{ brand.id }}">{{
          brand.brandName
        }}</label>
      </div>
    </div>
  </div>
</div>
