<app-header-two [sticky]="true" *ngIf="url != '/pages/comingsoon'"></app-header-two>

<!-- section start -->
<body class="sobhi">
    <div class="container" id="container">
        

        <div class="form-container sign-in">
            <div class="image-container">
                <img src="../../../../assets/images/Proj images/forgetpassword.jpg" alt="">
            </div> 
            <form>
                <h3>new password</h3>
                <br><br><br><br>
                <div class="password">  
                    <input type="checkbox" class="password-toggle" checked>
                    <div class="password-background"></div>
                    <div class="toggle-eye open">
                        <i class="fa-sharp fa-regular fa-eye"></i>          
                   </div> 
                    <div class="toggle-eye close">
                        <i class="fa-sharp fa-regular fa-eye-slash"></i>            
                    </div>
                    <input class="pass" type="password-input" placeholder="Password">
                </div>


                <div class="confirm-password">  
                    <input type="checkbox" class="password-toggle-confirm" checked>
                    <div class="confirm-password-background"></div>
                    <div class="toggle-eye-confirm open">
                        <i class="fa-sharp fa-regular fa-eye"></i>          
                   </div> 
                    <div class="toggle-eye-confirm close">
                        <i class="fa-sharp fa-regular fa-eye-slash"></i>            
                    </div>
                    <input class="pass-confirm" type="password-input" placeholder="Confirm Password">
                </div>
                



                <button class="hidden" id="Login" [routerLink]="['/pages/new-password-successful']">Confirm</button>
                <span class="or">or continue with</span>
                <div class="social-icons">
                    <a href="#" class="icon">
                        <i class="fab fa-google"></i> <!-- Updated class for Google -->
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-facebook"></i> <!-- Updated class for Facebook -->
                    </a>
                </div>
            </form>

            
        </div>
    </div> 
</body>

<!--Section ends-->
<app-footer-one></app-footer-one>
<router-outlet></router-outlet>
