@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.sobhi{
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 102vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    left: 0px;
    background-image: url('../../../../assets/images/Proj images/1st frgpass.png');


}

.container{
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    width: 99%;
    height: 115%;
    max-width: 100%;
    min-height: 480px;
    position: relative;
    left: 13%;

}
.image-container {
    position: relative;
    margin-bottom: 20px;
    top: 5%;
    left: -28%;
}

.image-container img {
    width: 102%;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing:0.3px;
    margin: 20px 0;
    color: #fff;
}
.container span{
    font-size: 12px;
    
}
.container a{
    color: #333;
    font-size: 10px;
    text-decoration: none;
    margin: 15px 0 10px;
}
.container button{
    background-color: #176B87;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
}
.container button.hidden{
 border-color: #fff;   
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 72%;
    position: relative;
    bottom: 67%;
    right: 103%;
    bottom: 65%;
    width: 71%;
}

.container .name{
    background-color: #eee;
    border: #2486b7;
    margin: 1px 0;
    padding: 8px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    border-style: ridge;
}
/*Start of Password*/
.password{
    background-color: #fff;
    border: #2486b7;
    margin: 5px 0;
    padding: 0px 17px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    border-style: ridge;
}
.password-background{
    background: #fff;
    position: absolute;
    width: 77%;
    height: 7%;
    border-radius: 5px;
    top: 35.5%;
    right: 11%;
}
.password-toggle{
    position: relative;
    width: 36px;
    height: 33px;
    z-index: 1;
    top: 2px;
    right: -243px;
    font-size: 22px;
    outline: none;
    cursor: pointer;
    opacity: 0%;
}
.toggle-eye{
    position: absolute;
    top: 187px;
    right: 52px;
    font-size: 22px;
}
.toggle-eye.close{
    transition: 0.4 all ease-in-out;
}

.toggle-eye.open{
    transition: 0.2 all ease-out;
}
.pass{
    position: absolute;
    width: 63%;
    margin: 1px 0;
    padding: 1px 15px;
    font-size: 13px;
    top: 39%;
    transform: translateY(-40%);
    left: 54px;
    background-color: #ffffff;
    border: none;
    font-size: 13px;
    outline: none;
    transition: all 0.5s;
-webkit-text-security:none;
}
.password-toggle:checked ~ .password-background{
    width: 40px;
    height: 31px;
    top: 186.5px;
    right: 44.5px;
    border-radius: 50%;

}



.password-toggle:checked ~ .pass{
    -webkit-text-security:circle;
}

.password-toggle:checked ~ .toggle-eye.close{
    opacity: 1;
}
.password-toggle:not(checked) ~ .toggle-eye.close{
    opacity: 0;
}

/*End of Password*/
/* Start of Confirm Password */
.confirm-password {
    background-color: #fff;
    border: #2486b7;
    margin: 5px 0;
    padding: 0px 17px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    border-style: ridge;
}

.confirm-password-background {
    background: #fff;
    position: absolute;
    width: 77%;
    height: 7%;
    border-radius: 5px;
    top: 45.5%;
    right: 11%;
}

.password-toggle-confirm {
    position: relative;
    width: 36px;
    height: 33px;
    z-index: 1;
    top: 2px;
    right: -243px;
    font-size: 22px;
    outline: none;
    cursor: pointer;
    opacity: 0%;
}

.toggle-eye-confirm {
    position: absolute;
    top: 237px;
    right: 52px;
    font-size: 22px;
}

.toggle-eye-confirm.close {
    transition: 0.4 all ease-in-out;
}

.toggle-eye-confirm.open {
    transition: 0.2 all ease-out;
}

.pass-confirm {
    position: absolute;
    width: 63%;
    margin: 1px 0;
    padding: 1px 15px;
    font-size: 13px;
    top: 48.5%;
    transform: translateY(-40%);
    left: 54px;
    background-color: #fff;
    border: none;
    font-size: 13px;
    outline: none;
    transition: all 0.5s;
    -webkit-text-security:none;
}

.password-toggle-confirm:checked ~ .confirm-password-background {
    width: 40px;
    height: 31px;
    top: 237.5px;
    right: 44.5px;
    border-radius: 50%;
}

.password-toggle-confirm:checked ~ .pass-confirm {
    -webkit-text-security: circle;
}

.password-toggle-confirm:checked ~ .toggle-eye-confirm.close {
    opacity: 1;
}

.password-toggle-confirm:not(checked) ~ .toggle-eye-confirm.close {
    opacity: 0;
}
/* End of Confirm Password */
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .06s ease-in-out;
}
.sign-in{
    left: 50%;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }

    58%, 100%{
        opacity: 1;
        z-index: 5;

    }
}

h3{
    font-weight: bold;
    color: #3d71a3;
}

/*here is the icons CSS*/
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .social-icons {
    display: flex;
  }
  
  .social-icons .icon {
    margin-right: 35px;
  }
  
  .social-icons .icon:last-child {
    margin-right: 0; /* Remove margin from the last icon */
  }
  
  .social-icons .icon i {
    font-size: 24px; /* Adjust icon size */
    color: #1544de; /* Set icon color */
    transition: color 0.3s ease; /* Add smooth transition effect */
  }
  
  .social-icons .icon i:hover {
    color: #4267B2; /* Change icon color on hover (Facebook blue) */
  }
  
  /* Adjust styles for specific icons */
  .social-icons .icon i.fa-google {
    color: #DB4437; /* Google red color */
  }
  
  .social-icons .icon i.fa-google:hover {
    color: #EA4335; /* Change icon color on hover (slightly lighter red) */
  }
/*Ends here*/


.or{
    margin: 25px 0;
    font-size: 10px;
    text-align: center;
    z-index: 100;
    position: relative;
}
.or::before{
    content: ' ';
    position: absolute;
    top: 50%;
    left: -105%;
    width: 105%;
    height: 2px;
    background-color: #bbb;
}

.or::after{
    content: ' ';
    position: absolute;
    top: 50%;
    left: 105%;
    width: 105%;
    height: 2px;
    background-color: #bbb;
 }

.toggle-container{
    position: relative;
    top: 0;
    left: 0%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6ss ease-in-out;
    z-index: 1000;
}

.container.active .toggle-container{

    transform: translateX(-100%);
    border-radius: 0 0 0 0;

}
.toggle{
    background-color: #2da88f;
    height: 100%;
    background: linear-gradient(to right, #67acb6, #7be5e0); 
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out; 
}

.container.active .toggle{
    transform: translateX(50%);
}

  
.toggle::before {
    content: "";
    position: absolute;
    bottom: 41%;
    left: 62%;
    width: 65%;
    height: 85px;
    background: url(../Images/wave3.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(270deg);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 30px;
    text-align: center;
    top:0;
    transform: translateX(0);
    transition:all 0.6s ease-in-out;
}
.toggle-left{
    transform:translateX(-200%)
}

.container.active .toggle-left{
    transform: translateX(200%);

}

.toggle-right{
    right:0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(0);

}


.toggle h1{
    color: #fff;
    font-size: 19px;;
}
