<app-header-two [sticky]="true" *ngIf="url != '/pages/comingsoon'"></app-header-two>

<!-- section start -->
<body class="sobhi">
    <div class="container" id="container">
        
        

        <div class="form-container sign-in">
    
            <form>
                <img src="../../../../assets/images/Proj images/image_processing20191029-26493-1tfqzgm.gif" alt="">
                <h3>Your Password</h3>
                <h3>has been Modified</h3>

                <br><br>
                
                <button class="Verify" id="Login" [routerLink]="['/pages/login']">Finish</button>

            </form>
        </div>

       
        
    
    <div class="image-container">
        <img src="../../../../assets/images/Proj images/forgetpassword.jpg" alt="">
    </div>  


       
    </div> 
</body>

<!--Section ends-->
<app-footer-one></app-footer-one>
<router-outlet></router-outlet>
