<app-header-one [sticky]="true" ></app-header-one>
<!-- section start -->
<body class="sobhi">
  <div class="image-container">
    <img src="../../../../assets/images/Proj images/c5037459c844ca3d4f4928a8a48048bb.jpg" alt="">
  </div>
  <p>Close one of your eyes and open the </p>
   <p>second then repeate the test for</p>
   <p>both eyes</p>

   <button id="Login" [routerLink]="['/pages/vision-test']">Next</button>

</body>

<!--Section ends-->
<app-footer-one></app-footer-one>
<router-outlet></router-outlet>
