<app-header-one [themeLogo]="themeLogo"></app-header-one>

<!-- Home slider start-->
<!-- <section class="p-0">
    <app-slider [sliders]="sliders" [textClass]="'text-center'" [category]="'lens'" [buttonText]="'shop now'">
    </app-slider>
</section> -->
<!-- Home slider End -->
<div class="Top-banner">
    <img src="../../../../assets/images/Proj images/Eyeglasses-Sunglasses-Banner-all-1-1536x384-1-1024x256.jpg" alt="">
  </div>
<!-- category -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-collection [categories]="categories" [category]="'lens'"></app-collection>
            </div>
        </div>
    </div>
</section>
<!-- category end -->

 <!-- tab section  -->
<!-- <section class="p-0">
    <div class=" tab-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="title4">
                        <h2 class="title-inner4">trending products</h2>
                        <div class="line">
                            <span></span>
                        </div>
                    </div>
                    <div class="theme-tab">
                        <ul ngbNav #nav="ngbNav" [(activeId)]="active"
                            class="tabs tab-title justify-content-center nav nav-pills">
                            <li *ngFor="let collection of productCollections" [ngbNavItem]="collection">
                                <a ngbNavLink>
                                    {{ collection }}
                                </a>
                                <ng-template ngbNavContent>
                                    <div class="no-slider row">
                                        <ng-container
                                            *ngFor="let product of getCollectionProducts(collection) | slice:0:8">
                                            <div class="product-box">
                                                <app-product-box-one [product]="product"
                                                    [currency]="productService?.Currency">
                                                </app-product-box-one>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav" class="mt-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--  tab section end -->

<!--  tab section  -->
<section class="section-b-space">
    <div class="container">
        <div class="title4">
            <h2 class="title-inner4">Lenses</h2>
            <div class="line">
                <span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let lens of lenses">
                <div class="theme-card center-align">
                    <div class="product-box">
                        <!-- <div class="product-img">
                           
                            <img class="img-fluid" [src]="lens.pictureUrl" alt="Lenses Image">
                        </div> -->
                        <div class="product-img" [routerLink]="['/home/producdetails/', lens.id]">
                            <img class="img-fluid" [src]="lens.pictureUrl" alt="Lenses Image">
    
                        </div>
                        <div class="product-caption">
                            <h4>{{ lens.productName }}</h4>
                            <p>{{ lens.description }}</p>
                            <div class="price">
                                {{ lens.price | currency: 'USD' }}
                            </div>
                            <!-- Add other properties as needed -->
                            <!-- <a href="javascript:void(0)" title="Add to Wishlist" (click)="addToWishlist(lenses)">
                                <i class="ti-heart" aria-hidden="true"></i>
                            </a>
                            <a href="javascript:void(0)" title="Add to cart" (click)="addToCart(lenses)"
                            *ngIf="!cartModal">
                            <i class="ti-shopping-cart"></i>
                          </a>
                          <a href="javascript:void(0)" title="Compare" (click)="addToCompare(lenses)">
                            <i class="ti-reload" aria-hidden="true"></i>
                          </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  tab section end -->



<!-- collection banner -->
<section>
    <div class="container">
        <div class="row partition3">
            <div class="col-md-4" *ngFor="let collection of collections">
                <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'lens'}">
                    <div class="collection-banner p-left">
                        <img [src]="collection.image" class="img-fluid" alt="">
                        <div class="contain-banner banner-3" *ngIf="collection.title && collection.text">
                            <div>
                                <h4>{{collection.title}}</h4>
                                <h2>{{collection.text}}</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- collection banner end -->

<!-- product-box -->
<section class="section-b-space">
    <div class="full-box">
        <div class="container">
            <div class="title4">
                <h2 class="title-inner4">special products</h2>
                <div class="line">
                    <span></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="theme-card center-align">
                        <div class="offer-slider">
                            <div class="sec-1">
                                <div class="product-box2" *ngFor="let product of products | slice:0:2">
                                    <app-product-box-vertical [product]="product" [currency]="productService?.Currency">
                                    </app-product-box-vertical>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 center-slider">
                    <div>
                        <div class="offer-slider">
                            <div>
                                <div class="product-box product-wrap" *ngFor="let product of products | slice:4:5">
                                   
                                                    <app-product-box-three [product]="product"
                                                        [currency]="productService?.Currency">
                                                    </app-product-box-three>
                                             
                                </div>

                                

                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="theme-card center-align">
                        <div class="offer-slider">
                            <div class="sec-1">
                                <div class="product-box2" *ngFor="let product of products | slice:2:4">
                                    <app-product-box-vertical [product]="product" [currency]="productService?.Currency">
                                    </app-product-box-vertical>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product-box end -->



<!-- services start-->
<div class="container section-t-space section-b-space">
    <section class="service border-section small-section">
        <app-services></app-services>
    </section>
</div>
<!-- services End -->


<!-- Cart Open To Left Side-->
<app-cart-variation [direction]="'left'"></app-cart-variation>
<app-footer-one [themeLogo]="themeLogo"></app-footer-one>